@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  padding: 25px;
}

html, body {
  background: linear-gradient(180deg,#3a00ad, #4046e7);;
}

h1 {
    font-size: 2.5rem;
}

p, a {
    font-size: 1.1rem;
}

* {
    color: white;
    font-family: Roboto;
    text-align: center;
}

.main {
  position: relative;
  min-height: 800px;
  height: 100vh;
  width: 100%;

  opacity: 0;

  transition: opacity 0.5s;

  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#title {
    width: 100%;
    text-align: center;
    font-weight: bold;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    margin-top: 300px;
}

#progress-bar {
    width: 660px;
    height: 15px;
    background-color: #333;

    border-radius: 15px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    margin-top: 271px;

    transition: 0.5s margin-top;
}

#meter {
    position: absolute;
    top: 74%;
    left: 0%;

    transform: translate(0%, -74%);

    border-radius: 15px;

    padding-right: 0px;

    width: 0px;
    height: 15px;
    background: linear-gradient(50deg, #7c3aed,  #8283ff);

    transition: 1.3s padding-right;

    animation: rainbowBg 0.5s ease-in-out infinite;
}


.disabled {
    cursor: not-allowed !important;
    color: #333;
}

/*.bar {
    position: absolute;
      top: -10%;
      width: 5px;
      height: 20px;
      background: linear-gradient(180deg, #ff70fd, #d414d1);
      z-index: 15;
      border-radius: 5px;
}

#bar-0 {
    left: 0%;
}

#bar-1 {
    left: 32.7%
}

#bar-2 {
    left: 66.3%
}

#bar-3 {
    left: 99.3%
}
*/

.page {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 30px;
  border-radius: 5px;

  background: linear-gradient(270deg, #5c00fb, #7c3aed);

  transform: translate(-50%, -50%);

  width: 600px;
}

.next {
    background-color: #000e6d;

    width: 70%;
    height: 50px;

    border: none;
    border-radius: 5px;

    cursor: pointer;

    transition: 0.15s background-color;
}

.next:hover {
  background-color: #00159b;
}

#links-container {
  margin-bottom: 10px;
}

#links-container a {
  color: #80b1fc;
}

#n-1 {
    font-size: 1.3rem;
}
